<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>一键反馈</title>
	<link rel="stylesheet" href="css/frozen.min.css">
	<link rel="stylesheet" href="css/common.min.css">
	<link rel="stylesheet" href="css/person.min.css">
	<link rel="stylesheet" href="css/issuetask.min.css">
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
</head>

<body id="app">
	<div class="pages">
		<header class="ui-header ui-header-positive ui-border-b headers">
			<i class="ui-icon-return" @click="close"></i>
			<h1>一键反馈</h1>
		</header>
		<div class="ui-form ui-border-t">
			<div class="ui-form-item ui-border-b">
				<label><i class="fa fa-bookmark-o" style="font-size: 1.2em;padding-top:3px;"></i></label>
				<input name="" type="text" placeholder="填写您的标题部分内容(10个字以内)" id="titleInput" v-model="title">
				<a href="#" class="ui-icon-close" @click="trashInput"></a>
			</div>
			<div class="ui-form-item ui-form-item-textarea " style="min-height:150px;height:auto;">
				<label><i class="fa fa-list-ul"></i></label>
				<textarea name="" placeholder="描述您要提交的反馈信息(40个字以内)" v-model="detail"></textarea>
			</div>
			<div class="ui-btn-wrap" style="background:#e0e0e0;">
				<button class="ui-btn-lg ui-btn-danger" type="submit" @click="submit" :disabled="submitBtnDisabled">提交反馈</button>
			</div>
		</div>
	</div>
	<script src="js/zepto.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/webLib.min.js"></script>
	<script src="js/WebViewJavascriptBridge.min.js"></script>
	<script>
		var wb;

		var load = function() {
			var vm = new Vue({
				el: '#app',

				data: function() {
					return {
						title: '',
						detail: '',
						submitBtnDisabled: false
					};
				},

				methods: {
					submit: function() {
						var self = this;
						self.submitBtnDisabled = true;

						if (self.checkInput()) {
							var params = {
								url: 'http://www.renrenshangjin.com/index.php?m=Home&c=AboutUs&a=postSuggestion',
								ZYRJM: window.webEvn.token,
								title: self.title,
								detail: self.detail
							};

							wb.Ajax(params, function(data) {
								if (data.status == 1) {
									wb.showTip(data.info);
									self.close();
								} else {
									self.submitBtnDisabled = false;
									wb.showTip(data.info);
								}
							})
						} else {
							self.submitBtnDisabled = false;
						}
					},

					/**
					 * 检查用户输入
					 * @return
					 */
					checkInput: function() {
						if (this.title === '') {
							wb.showTip('请输入标题');
							return false;
						}

						var title = this.title.replace(/\s+/g, "");

						if (this.getBytesLength(title) > 20) {
							wb.showTip('标题太长啦');
							return false;
						}

						if (this.detail === '') {
							wb.showTip('请输入反馈详情');
							return false;
						}

						var detail = this.detail.replace(/\s+/g, "");

						if (this.getBytesLength(detail) > 80) {
							wb.showTip('反馈的内容太长啦');
							return false;
						}

						return true;
					},

					/**
					 * 获取字符串的字节长度
					 * @return 字符串的字节长度
					 */
					getBytesLength: function(str) {
						return str.replace(/[^\x00-\xff]/gi, "--").length;
					},

					/**
					 * 清空用户输入
					 * @return
					 */
					trashInput: function() {
						this.title = '';
						$('#titleInput').focus();
					},

					/**
					 * 关闭当前页面
					 * @return
					 */
					close: function() {
						wb.Finish();
					}
				}
			});

			window.webEvn.close = vm.close;
		};

		$(document).ready(function() {
			wb = new webLib();
			wb.debug(true);
			wb.init(load, true);
		});
	</script>
</body>

</html>
