<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>等级信息说明</title>
    <link rel="stylesheet" href="css/frozen.min.css">
    <link rel="stylesheet" href="css/common.min.css">
    <style>
        .td-font {
            text-align: left !important;
            /*padding-left: 15px;*/
        }
    </style>
</head>

<body id="app" style="background-color: #fff">
    <div class="pages">
        <header class="ui-header ui-header-positive ui-border-b headers">
            <i class="ui-icon-return" @click="back"></i>
            <h1>等级信息说明</h1>
        </header>
        <ul class="ui-list ui-list-pure ui-border-tb">
            <li class="ui-border-t" v-for="exp in exps">
                <span v-text="exp.detail"></span>
            </li>
        </ul>
        <table class="ui-table ui-border" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>等级</th>
                    <th>说明</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="role in roles">
                    <td v-text="role.level"></td>
                    <td class="td-font">
                        <pre v-text="role.detail" style="display:inline-block;"></pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/webLib.min.js"></script>
    <script src="js/WebViewJavascriptBridge.min.js"></script>
    <script>
        var wb;

        var load = function() {
            var vm = new Vue({
                el: '#app',

                data: function() {
                    return {
                        roles: [],
                        exps: []
                    };
                },

                created: function() {
                    this.loadLevelInfo();
                    this.loadExpInfo();
                },

                methods: {
                    loadLevelInfo: function() {
                        var self = this;

                        var params = {
                            url: 'http://www.renrenshangjin.com/index.php?m=Home&c=Role&a=getLevelRole'
                        };

                        wb.Ajax(params, function(data) {
                            if (data.status == 1) {
                                self.roles = data.roles;
                            } else {
                                wb.showTip(data.info);
                            }
                        });
                    },

                    loadExpInfo: function() {
                        var self = this;

                        var params = {
                            url: 'http://www.renrenshangjin.com/index.php?m=Home&c=Role&a=getExperienceRole'
                        };

                        wb.Ajax(params, function(data) {
                            if (data.status == 1) {
                                self.exps = data.roles;
                            } else {
                                wb.showTip(data.info);
                            }
                        });
                    },
                    /**
                     * 关闭当前页面
                     * @return
                     */
                    back: function() {
                        var data = wb.getData();
                        if (data.levelFromUser != undefined && data.levelFromUser != null) {
                            data.levelFromUser = null;
                            wb.setData(data, function() {
                                window.location.href = 'userInfo.html';
                            });
                        } else {
                            wb.Finish();
                        }
                    }
                }
            });

            window.webEvn.close = vm.back;
        };

        $(document).ready(function() {
            wb = new webLib();
            wb.debug(true);
            wb.init(load, true);
        });
    </script>
</body>

</html>
